<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Project portafolio
        </title>
    </head>

    <body>
         <h1>{{pageTitle}}</h1>
         <p>Portafolio of Projects</p>
        {{> footer}}


    </body>
</html>